{% extends "layout/layout.html" %}

{% block head_css %}
{% endblock %}

{% block head_js %}
{% endblock %}

{% block body_content %}
    <table>
    {% for group in groups %}
    <tr>
        <td><a href="{{ group.Groups.id }}">{{ group.Groups.name }}</a></td>
        <td>{% if group.Groups.alias_name %}{{ group.Groups.alias_name }}{% else %}-{% endif %}</td>
        <td>{% if group.Groups.short_name %}{{ group.Groups.short_name }}{% else %}-{% endif %}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block body_js %}
{% endblock %}
