{% extends "layout/layout.html" %}

{% block head_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='FeedEk/css/FeedEk.css') }}">
{% endblock %}

{% block head_js %}
{% endblock %}

{% block body_content %}

<section id="gk-header">
    <div class="row">
        <div class="col-md-6">
            <h2>{{ group.Groups.name }} {% if group.Groups.short_name %}({{ group.Groups.short_name }}){% endif %}</h2>
            {% if group.Groups.alias_name %}
            <h3>{{ group.Groups.alias_name }}</h3>
            {% endif %}
        </div>
        <div class="col-md-6" style="text-align:right;">
            <a href="{{ url_for('group.edit', group_id=group.Groups.id) }}">編輯頁面</a>
            <br>
            <br>
            {% for group_website in group_websites_no_icon %}
                {% if loop.index > 1 %} | {%endif%}
                <a href="{{ group_website.url }}" target="_blank"><b>{{ group_website.name }}</b></a>
            {% endfor %}
            <br>
            {% for group_website in group_websites_has_icon %}
                <a href="{{ group_website.url }}" target="_blank"><img src="{{ url_for('static', filename='images/32x32/%s.png' % group_website.name.lower().replace(' ', '')) }}" alt="{{ group_website.name }}"></a>
            {% endfor %}
        </div>
    </div>
</section>

<section id="gk-mainbody">
    <div class="row">
        <div class="col-md-4">
            <h3>近期活動</h3>
            <ul>
                {% for event in recent_events %}
                <li><a href="{{ event.url }}" target="_blank">{{ event.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h3>過往活動</h3>
            <ul>
                {% for event in past_events %}
                <li><a href="{{ event.url }}" target="_blank">{{ event.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h3>標籤雲</h3>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <h3>專案列表</h3>
            <ul>
                {% for repo in repos %}
                <li><img src="{{ url_for('static', filename='images/18x18/github.png') }}" alt="GitHub"> <a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h3>動態</h3>
            {% if feeds %}
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    {% for feed in feeds %}
                    <li {% if loop.index == 1 %}class="active"{%endif%}><a href="#{{ feed.title.replace(' ', '').replace('+', 'Plus') }}" data-toggle="tab">{{ feed.title }}</a></li>
                    {% endfor %}
                </ul>
                <div id="my-tab-content" class="tab-content">
                    {% for feed in feeds %}
                    <div class="tab-pane {% if loop.index == 1 %}active{%endif%}" id="{{ feed.title.replace(' ', '').replace('+', 'Plus') }}">
                        <div id="divRss{{ feed.title.replace(' ', '').replace('+', 'Plus') }}"></div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <h3>...</h3>
        </div>
    </div>
</section>
{% endblock %}

{% block body_js %}
<script src="{{ url_for('static', filename='FeedEk/js/FeedEk.min.js') }}"></script>

<script>
    {% for feed in feeds %}
    $('#divRss{{ feed.title.replace(' ', '').replace('+', 'Plus') }}').FeedEk({
        FeedUrl: '{{ feed.url }}',
        MaxCount : 5,
        ShowDesc: true,
        DescCharacterLimit: 100
    });
    {% endfor %}
</script>
{% endblock %}
