<!DOCTYPE html>
<html>
    <head>
        <title>臺灣 自由/開放 軟硬體 社群列表 Open Source Community Map in Taiwan</title>
    </head>
    <body>

        <h1>臺灣 自由/開放 軟硬體 社群列表 Open Source Community Map in Taiwan</h1>

        <p><a href="http://www.mindmeister.com/303031964">社群列表 (MindMap)</a></p>
        <p><a href="{{ url_for('group.all_html') }}">社群列表 (html)</a></p>
        <p><a href="{{ url_for('event.rss') }}">近期活動 (RSS)</a></p>
        <p><a href="https://yan.hackpad.com/Community-Map-Website-GvJj3Mevssl">專案討論</a></p>
        <p><a href="https://github.com/a0726h77/opensourcefeeds.tw">Source Code</a></p>

    </body>
</html>
