{% extends "layout/layout.html" %}

{% block head_css %}
<style>
table, th {
    text-align: center;
}
table, td, th {
    padding: 10px;
}
</style>
{% endblock %}

{% block head_js %}
{% endblock %}

{% block body_content %}
    <table>
    <tr>
        <th>名稱</th>
        <th>地址</th>
        <th>電話</th>
        <th>無線網路</th>
        <th>插座</th>
        <th>店家網址</th>
    </tr>
    {% for place in places %}
    <tr>
        <td><a href="{{ url_for('place.page', place_id=place.id) }}"}>{{ place.name }}</a></td>
        <td>{% if place.address %}{{ place.address }}{% endif %}</td>
        <td style="text-align: center;">{% if place.phone %}{{ place.phone }}{% endif %}</td>
        <td style="text-align: center;">{% if place.wireless %}v{% endif %}</td>
        <td style="text-align: center;">{% if place.electrical_plug %}v{% endif %}</td>
        <td style="text-align: center;">{% if place.url %}<a href="{{ place.url }}" target="_blank">Link</a>{% endif %}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block body_js %}
{% endblock %}
