{% extends "layout/layout.html" %}

{% block head_css %}
{% endblock %}

{% block head_js %}
{% endblock %}

{% block body_content %}
<div class="row">
    <div class="col-md-8">

    <h2>{{ place.name }}</h2>

    <button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('place.page', place_id=place.id) }}'">返回瀏覽頁面</button>

    <h2></h2>
    <div class="bs-example">
        <form class="form-horizontal" role="form" method="POST">
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">狀態</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                      <input type="radio" name="active" value="1" {% if place.active == 1 %}checked{% endif %}> 營業中
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="active" value="0" {% if place.active == 0 %}checked{% endif %}> 已歇業
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress" class="col-sm-2 control-label">地址</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputAddress" name="address" {% if place.address %}value="{{ place.address }}{% endif %}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputStation" class="col-sm-2 control-label">臨近捷運站</label>
                <div class="col-sm-10">
                    <select class="form-control" name="mrt">
                        <option></option>
                        {% for station in stations: %}
                        <option value="{{ station.id }}" {% if place.mrt == station.id %}selected{% endif %}>{{ station.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPhone" class="col-sm-2 control-label">電話</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPhone" name="phone" {% if place.phone %}value="{{ place.phone }}"{% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label for="inputSeats" class="col-sm-2 control-label">容納人數</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputSeats" name="seats" {% if place.seats %}value="{{ place.seats }}"{% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label for="inputWireless" class="col-sm-2 control-label">提供功能</label>
                <div class="col-sm-10">
                    <label class="checkbox-inline">
                      <input type="checkbox" name="wireless" value="1" {% if place.wireless %}checked{% endif %}> 免費無線網路
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="electrical_plug" value="1" {% if place.wireless %}checked{% endif %}> 免費電源插座
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="inputURL" class="col-sm-2 control-label">網址</label>
                <div class="col-sm-10">
                    <input type="url" class="form-control" id="inputURL" name="url" placeholder="http://" {% if place.url %}value="{{ place.url }}"{% endif %}>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="inputPlaeTag" class="col-sm-2 control-label">空間分類</label>
                <div class="col-sm-10">
                    </select>
                    {% for place_tag in place_tags: %}
                    <label class="checkbox-inline">
                        <input type="checkbox" name="place_tag" value="{{ place_tag.id }}" {% if place_tag.id in place_has_tag %}checked{% endif %}> {{ place_tag.name }}
                    </label>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label for="inputPOIType" class="col-sm-2 control-label">OpenStreetMap POI Type</label>
                <div class="col-sm-10">
                    <select class="form-control" name="poi_type">
                        <option></option>
                        {% for poi_type in poi_types: %}
                        <option value="{{ poi_type.id }}" {% if place.poi_type == poi_type.id %}selected{% endif %}>{{ poi_type.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">更新</button>
                </div>
            </div>
        </form>
    </div>

    </div>
</div>
{% endblock %}

{% block body_js %}
{% endblock %}
