{% extends "layout/layout.html" %}

{% block head_css %}
<style>
table, th {
    text-align: center;
}
table, td, th {
    padding: 10px;
}
</style>
{% endblock %}

{% block head_js %}
{% endblock %}

{% block body_content %}
    <table>
    <tr>
        <th></th>
        <th>名稱</th>
        <th>地址</th>
        <th>電話</th>
        <th>網址</th>
    </tr>
    {% for place in places %}
    <tr>
        <td>{% if 'UserStarPlace' in place.keys() and place.UserStarPlace.place_id %}<span class="glyphicon glyphicon-star"></span>{% endif %}</td>
        <td><a href="{{ url_for('place.page', place_id=place.Places.id) }}"}>{{ place.Places.name }}</a></td>
        <td>{% if place.Places.address %}{{ place.Places.address }}{% endif %}</td>
        <td style="text-align: center;">{% if place.Places.phone %}{{ place.Places.phone }}{% endif %}</td>
        <td style="text-align: center;">{% if place.Places.url %}<a href="{{ place.Places.url }}" target="_blank">Link</a>{% endif %}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block body_js %}
{% endblock %}
