{% extends "layout/layout.html" %}

{% block title %}{{ place.name }} - {% endblock %}

{% block head_js %}
{% endblock %}

{% block body_content %}

<section id="gk-header">
    <div class="row">
        <div class="col-md-6">
            <h2>{{ place.name }}</h2>
        </div>
        <div class="col-md-6" style="text-align:right;">
            {% if star %}
                <button id="star_button" type="button" class="btn btn-default" data-status="star"><span class="glyphicon glyphicon-star"></span> Unstar</button>
            {% else %}
                <button id="star_button" type="button" class="btn btn-default" data-status="unstar"><span class="glyphicon glyphicon-star"></span> Star</button>
            {% endif %}
            <a href="{{ url_for('place.edit', place_id=place.id) }}">編輯頁面</a>
            <br>
            <br>
            {% if place.phone %}
            {{ place.phone }}
            {% endif %}

            {% if place.seats %}

            <br>
            {{ place.seats }} 個以上的座位
            {% endif %}

            {% if place.url %}

            <br>
            <a href="{{ place.url }}" target="_blank">{{ place.url }}</a>
            {% endif %}
        </div>
    </div>
</section>

<section id="gk-mainbody">
    <div class="row">
        <div class="col-md-4">
            <h3>提供服務</h3>
            <ul>
                {% if place.wireless %}
                <li>無線網路</li>
                {% endif %}

                {% if place.electrical_plug %}
                <li>電源插座</li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-4">
            <h3>地圖</h3>
            <ul>
                {% if place.address %}
                <li>{{ place.address }}</li>
                {% endif %}

                {% if place.mrt %}
                <li>接近：{{ station.name }}</li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-4">
            <h3>營業時間</h3>
            <ul>
                {% for business_hour in business_hours %}
                    {% if business_hour.weekday == weekday %}
                    <li>
                        <b>
                            {{ business_hour.weekday }} :
                            {% if business_hour.from_time %}
                            {{ business_hour.from_time.strftime("%H:%M") }} ~ {{ business_hour.till_time.strftime("%H:%M") }}
                            {% else %}
                            --
                            {% endif %}
                        </b>
                    </li>
                    {% else %}
                    <li>
                        {{ business_hour.weekday }} :
                        {% if business_hour.from_time %}
                        {{ business_hour.from_time.strftime("%H:%M") }} ~ {{ business_hour.till_time.strftime("%H:%M") }}
                        {% else %}
                        --
                        {% endif %}
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}

{% block body_js %}
<script src="{{ url_for('static', filename='FeedEk/js/FeedEk.min.js') }}"></script>

<script>
    {% for feed in feeds %}
    $('#divRss{{ feed.title.replace(' ', '').replace('+', 'Plus') }}').FeedEk({
        FeedUrl: '{{ feed.url }}',
        MaxCount : 5,
        ShowDesc: true,
        DescCharacterLimit: 100
    });
    {% endfor %}

    // toggle star button
    $('#star_button').click(function(){
        if($('#star_button').attr('data-status') == 'star'){
            $.ajax({
                url: $SCRIPT_ROOT + "/place/{{ place.id }}/unstar",
                success: function(data) {
                    $('#star_button').attr('data-status', 'unstar').val();
                    $('#star_button').html('<span class="glyphicon glyphicon-star"></span> Star');
                },
                error: function(data) {
                    window.location = "{{ url_for('login') }}";
                }
            });
        }
        else{
            $.ajax({
                url: $SCRIPT_ROOT + "/place/{{ place.id }}/star",
                success: function(data) {
                    $('#star_button').attr('data-status', 'star').val();
                    $('#star_button').html('<span class="glyphicon glyphicon-star"></span> Unstar');
                },
                error: function(data) {
                    window.location = "{{ url_for('login') }}";
                }
            });
        }
    });
</script>
{% endblock %}
