{% extends "layout/layout.html" %}

{% block head_css %}
<link href='{{ url_for('static', filename='fullcalendar-2.1.1/fullcalendar.css') }}' rel='stylesheet' />
<link href='{{ url_for('static', filename='fullcalendar-2.1.1/fullcalendar.print.css') }} rel='stylesheet' media='print' />
{% endblock %}

{% block head_js %}
<script src='{{ url_for('static', filename='fullcalendar-2.1.1/lib/moment.min.js') }}'></script>
<script src='{{ url_for('static', filename='fullcalendar-2.1.1/fullcalendar.min.js') }}'></script>
{% endblock %}

{% block body_content %}
<div class="row">
    <div class="col-md-7">
        <h2>近期活動</h2>
        <div id="calendar"></div>
    </div>
    <div class="col-md-5">
        <h2>找空間</h2>

        <h4>咖啡廳</h4>
        <form class="form-horizontal" role="form" action="{{ url_for('place.cafe.index') }}" method="POST">
          <div class="form-group">
            <label for="inputName" class="col-sm-3 control-label">名稱</label>
            <div class="col-sm-6">
              <input type="name" class="form-control" id="inputName" name="name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputStation" class="col-sm-3 control-label">臨近捷運</label>
            <div class="col-sm-6">
                <select class="form-control" name='station'>
                  <option></option>
                  {% for station in stations: %}
                  <option value="{{ station.id }}">{{ station.name }}</option>
                  {% endfor %}
                </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">尋找</button>
              <button type="button" class="btn btn-primary" onclick="getLocation();">我的附近</button>
            </div>
          </div>
        </form>

        <hr>

        <h4>Hackerspace</h4>
        <form class="form-horizontal" role="form" action="{{ url_for('place.hackerspace.index') }}" method="POST">
          <div class="form-group">
            <label for="inputName" class="col-sm-3 control-label">名稱</label>
            <div class="col-sm-6">
              <input type="name" class="form-control" id="inputName" name="name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPlace" class="col-sm-3 control-label">地點</label>
            <div class="col-sm-6">
                <select class="form-control" name='location'>
                  <option></option>
                  <option value="n">北</option>
                  <option value="c">中</option>
                  <option value="s">南</option>
                </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">尋找</button>
            </div>
          </div>
        </form>

        <hr>

        <h4>Coworking Space</h4>
        <form class="form-horizontal" role="form" action="{{ url_for('place.coworking_space.index') }}" method="POST">
          <div class="form-group">
            <label for="inputName" class="col-sm-3 control-label">名稱</label>
            <div class="col-sm-6">
              <input type="name" class="form-control" id="inputName" name="name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPlace" class="col-sm-3 control-label">地點</label>
            <div class="col-sm-6">
                <select class="form-control" name='location'>
                  <option></option>
                  <option value="n">北</option>
                  <option value="c">中</option>
                  <option value="s">南</option>
                </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">尋找</button>
            </div>
          </div>
        </form>

        <hr>

        <h4>All Place</h4>
        <form class="form-horizontal" role="form" action="{{ url_for('place.search') }}" method="POST">
          <div class="form-group">
            <label for="inputAddress" class="col-sm-3 control-label">* 概略臨近地點</label>
            <div class="col-sm-6">
              <input type="name" class="form-control" id="inputAddress" name="address" placeholder="ex: 臺北車站">
            </div>
          </div>
          <div class="form-group">
            <label for="inputSeats" class="col-sm-3 control-label">人數</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="inputMinSeats" name="min_seats">
              ~
              <input type="text" class="form-control" id="inputMxnSeats" name="max_seats">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">尋找</button>
            </div>
          </div>
        </form>
    </div>
</div>
{% endblock %}

{% block body_js %}
<script>
	$(document).ready(function() {
		$('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
			defaultDate: Date(),
            events: {
                url: '{{ url_for('event.json') }}',
            },
            eventClick: function(event) {
                if (event.url) {
                    window.open(event.url);
                    return false;
                }
            }
        });
	});
</script>

<script>
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    // alert(position.coords.latitude);
    // alert(position.coords.longitude);
    lat = position.coords.latitude;
    lng = position.coords.longitude;
    location.replace('{{ url_for('place.cafe.index') }}?lat=' + lat + '&lon=' + lng);
}
</script>
{% endblock %}
