        <ul id="footer-menu" class="menu gk_normal">
            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-127"><a href="https://sites.google.com/site/fcm2009v1/">社群導覽手冊(初版)</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-127"><a href="https://yan.hackpad.com/Community-Map-Website-GvJj3Mevssl">專案發想</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-127"><a href="https://github.com/a0726h77/opensourcefeeds.tw/issues">Issue Tracking</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-127"><a href="https://github.com/a0726h77/opensourcefeeds.tw">Source Code</a></li>
        </ul>

        <div class="gk-copyrights">
            Meet GavernWP - <a href="http://www.gavick.com" title="Responsive Free WordPress theme">Responsive Free WordPress Themes</a>                
            <a href="#top" id="gk-top-link">Back to top</a>
        </div>
