            <h1>
                <a href="{{ url_for('index') }}">臺灣 自由/開放 軟硬體 社群列表</a>
            </h1>

            <div id="gk-mainmenu-collapse" class="menu-hidden" data-btn="gk-mainmenu-toggle">
                <ul id="main-menu" class="menu gk_normal">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-581">
                        <form class="navbar-form navbar-left" role="search" action="{{ url_for('group.all_html') }}" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="search" placeholder="Search">
                            </div>
                        </form>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-581"><a href="#page-styles">社群列表</a>
                        <div class="sub-menu">
                        <ul>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="http://www.mindmeister.com/303031964">MindMap</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76"><a href="{{ url_for('group.all_html') }}">html</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76"><a href="{{ url_for('group.add') }}">新增</a></li>
                        </ul>
                        </div>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-581"><a href="#page-styles">近期活動</a>
                        <div class="sub-menu">
                        <ul>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="{{ url_for('event.rss') }}">所有社群 (RSS)</a></li>
                            {% if 'user_id' in session %}
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="{{ url_for('event.star_group_rss', user_id=session['user_id']) }}">我關注的 (RSS)</a></li>
                            {% endif %}
                        </ul>
                        </div>
                    </li>
                    {% if 'user_id' in session %}
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-581"><a href="#page-styles">[ {{ session['user_name'] }} ]</a>
                        <div class="sub-menu">
                        <ul>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="{{ url_for('logout') }}">登出</a></li>
                        </ul>
                        </div>
                    </li>
                    {% else %}
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-581"><a href="{{ url_for('login') }}">登入</a></li>
                    {% endif %}
                </ul>
            </div>
